%tr
  %td
    %p.font-16 Subtotal:
  %td
    %p.font-16 
      = total_price      
%tr
  %td
    %p.font-16 Coupon:
  %td
    %p.font-16 
      = discount
%tr
  %td
    %strong.font-17 Order Total: 
  %td
    %strong.font-18
      = total_price_for_order